## Data Class Builders

Classic Named Tuples

In [8]:
class Coordinate:
  def __init__(self, lat, lon):
    self.lat = lat
    self.lon = lon

In [10]:
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)
location == moscow, (location.lat, location.lon) == (moscow.lat, moscow.lon)

(False, True)

In [12]:
from collections import namedtuple

Coordinate = namedtuple('Coordinate', ['lat', 'lon'])
moscow = Coordinate(55.76, 37.62)
location = Coordinate(55.76, 37.62)

issubclass(Coordinate, tuple), location == moscow, (location.lat, location.lon) == (moscow.lat, moscow.lon)

(True, True, True)

命名元组

In [15]:
import typing

Coordinate = typing.NamedTuple('Coordinate', lat = float, lon = float)

按照 PEP 526 变量注释的语法进行编写

In [16]:
from typing import NamedTuple

class Coordinate(NamedTuple):
  lat: float
  lon: float

  def __str__(self):
    ns = 'N' if self.lat >= 0 else 'S'
    we = 'E' if self.lon >= 0 else 'W'
    return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

In [17]:
issubclass(Coordinate, typing.NamedTuple)

TypeError: issubclass() arg 2 must be a class, a tuple of classes, or a union

In [18]:
issubclass(Coordinate, tuple)

True

对比下使用 dataclass 装饰器编写的等效的 Coordinate 类

In [ ]:
from dataclasses import dataclass

@dataclass
class Coordinate:
  lat: float
  lon: float

  def __str__(self):
    ns = 'N' if self.lat >= 0 else 'S'
    we = 'E' if self.lon >= 0 else 'W'
    return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

In [19]:
# Example 5-4

from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [20]:
tokyo.population

36.933

In [22]:
tokyo[1]

'JP'

命名元组除了从元组中继承的属性和方法外，还提供了几个属性和方法。示例 5-5 展示了最有用的：_ fields 类属性、类方法 _ make（iterable） 和 _ asdict（） 实例方法。

In [23]:
City._fields

('name', 'country', 'population', 'coordinates')

In [24]:
Coordinate = namedtuple('Coordinate', 'lat lon')

delhi_data = ('Dehi NCR', 'IN', 21.935, Coordinate(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Dehi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': Coordinate(lat=28.613889, lon=77.208889)}

In [25]:
import json

json.dumps(delhi._asdict())

'{"name": "Dehi NCR", "country": "IN", "population": 21.935, "coordinates": [28.613889, 77.208889]}'

自 Python 3.7 以来，namedtuple 接受默认关键字参数，为类的每个右端字段的 N 个默认值提供迭代器。

In [26]:
Coordinate = namedtuple('Coordinate', 'lat lon reference', defaults=['WGS84'])
Coordinate(15.0, -32.0)

Coordinate(lat=15.0, lon=-32.0, reference='WGS84')

In [27]:
Coordinate._field_defaults

{'reference': 'WGS84'}

type hint
To see the effect of type hints, you must run one of those tools on your code—like a linter. For instance, here is what Mypy has to say about the previous example:

In [28]:
class Coordinate(typing.NamedTuple):
  lat: float
  lon: float

trash = Coordinate('Ni!', None)
print(trash)

Coordinate(lat='Ni!', lon=None)